:root {
color-scheme: light dark;
--details-colour: #888;
--divider-colour: #ffcce6;
--image-border-colour: #555;
--link-colour: var(--usesthis-purple);
--link-hover-colour: var(--usesthis-pink);
--link-nav-colour: #000;
--summary-colour: #222;
--usesthis-purple: #7733ff;
--usesthis-pink: #fe2e9a;
}

a {
color: var(--link-colour);
text-decoration: underline;
}

a:hover {
color: var(--link-hover-colour) !important;
}

article.interviewee + article.interviewee, div.e-content {
margin-top: 30px;
}

article.interviewee:last-of-type p.details {
border: 0;
}

aside#sponsorship {
border-top: solid 1px var(--divider-colour);
font-size: 80%;
padding-top: 15px;
}

body {
background-color: #fff;
background-image: linear-gradient(#ffe6f3, #fff);
background-repeat: no-repeat;
background-size: 100% 250px;
color: #000;
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
font-size: 1.3em;
line-height: 1.4em;
margin: 0;
padding: 0;
}

div.e-content p {
line-height: 1.7em;
}

header#masthead {
display: grid;
margin: auto;
max-width: 600px;
}

header#masthead nav {
border-bottom: solid 1px var(--divider-colour);
border-top: solid 1px var(--divider-colour);
font-size: 85%;
grid-column: 1/3;
grid-row: 2;
margin: 5px 0 25px 0;
padding: 10px 25px;
text-transform: uppercase;
}

dd {
display: block;
font-size: 80%;
margin: 5px 0 20px 0;
}

dt {
display: block;
margin: 0 0 10px 0;
}

figcaption {
color: #aaa;
font-size: 70%;
margin-bottom: 20px;
}

figure {
margin: 0 0 10px 0;
}

footer {
border-top: solid 1px var(--divider-colour);
font-size: 70%;
margin-top: 20px;
padding: 10px;
text-align: center;
}

form {
margin: 10px 0;
padding: 0;
}

h1 {
color: var(--usesthis-pink);
font-size: 280%;
line-height: 1em;
margin: 0;
padding: 0;
text-transform: lowercase;
}

h1 a {
background: url(/images/general/logo.svg) no-repeat;
background-size: contain;
color: var(--usesthis-purple);
display: block;
padding: 50px 0 50px 220px;
text-decoration: none;
}

h1 a:hover {
color: var(--usesthis-purple) !important;
text-decoration: underline;
}

h1 a span {
display: block;
color: #fe2e9a;
}

h2 {
color: #fe2e9a;
margin: 0;
padding: 5px 0;
}

h3 {
font-weight: 600;
margin: 0;
padding: 0;
}

h4 {
font-weight: 600;
margin: 20px 0 5px 0;
padding: 0;
}

img.detail, img.portrait {
border: solid 1px var(--image-border-colour);
padding: 0;
}

li {
padding: 0;
}

main {
margin: auto;
max-width: 550px;
}

main > h2 + p {
margin: 10px 0 20px 0;
padding-bottom: 15px;
border-bottom: solid 1px var(--divider-colour);
}

main ul {
font-size: 85%;
}

nav a {
color: var(--link-nav-colour);
}

nav li {
display: inline-block;
margin: 0;
padding: 0;
}

nav li:before {
color: var(--divider-colour); 
content: "/ ";
}

nav li:first-child:before {
content: "";
}

nav ul {
list-style: none outside;
margin: 0;
padding: 0;
}

nav#paginator {
display: grid;
font-size: 90%;
margin-top: 15px;
padding-top: 15px;
text-align: center;
border-top: solid 1px var(--divider-colour);
}

nav#paginator p {
grid-column: 2;
grid-row: 1;
padding: 0;
margin: 0;
}

nav#paginator span {
color: #ccc;
}

nav#paginator span#next {
justify-self: start;
grid-column: 3;
}

nav#paginator span#previous {
grid-column: 1;
justify-self: end;
}

p#description {
align-self: center;
border-left: solid 1px var(--divider-colour);
color: #888;
font-size: 70%;
margin-left: 30px;
padding: 0 20px;
}

p#licence {
font-size: 70%;
}

p.details {
border-bottom: solid 1px var(--divider-colour);
color: var(--details-colour);
font-size: 70%;
margin: 0;
padding: 0 0 15px 0;
}

p.details a {
color: var(--details-colour);
}

p.summary {
color: var(--summary-colour);
margin: 5px 0;
}

pre {
background-color: #f5f5f5;
max-height: 300px;
overflow: scroll;
padding: 20px;
}

span.summary {
color: var(--summary-colour);
font-size: 80%;
}

ul {
list-style: square inside;
margin: 10px;
padding: 0;
}

ul.categories, ul.months {
color: #aaa;
display: grid;
grid-template-columns: repeat(3, 1fr);
list-style: none outside;
margin: 20px 0;
}

ul.categories li, ul.months li {
padding: 0;
margin-bottom: 10px;
}

@media all and (max-width: 625px) {
  body {
  padding: 20px;
  }

  figure {
  height: 0;
  margin-bottom: 15px;
  padding-top: calc(67 / 100 * 100%);
  position: relative;
  }

  figcaption {
  float: left;
  }

  h1 {
  place-self: center;
  }

  h1 a {
  padding: 200px 0 0 0;
  }

  h1 a span {
  display: inline;
  }

  h2 {
  clear: left;
  }

  header#masthead {
  padding: 0;
  }

  header#masthead nav {
  grid-row: 4;
  padding: 10px 0;
  }

  header#masthead nav ul {
  text-align: center;
  }

  img.detail, img.portrait  {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  }

  p#description {
  border: 0;
  grid-column: 1;
  grid-row: 3;
  padding: 0;
  margin: 20px 0;
  }
  
  ul.categories, ul.months {
  grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 320px) {
  ul.categories, ul.months {
  grid-template-columns: 1fr;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  --divider-colour: #444;
  --image-border-colour: #ccc;
  --link-colour: #b996ff;
  --link-nav-colour: #aaa;
  --summary-colour: #aaa;
  }

  a {
  text-shadow: 1px 1px 1px #222;
  }

  body {
  background-color: #353239;
  background-image: linear-gradient(#252525, #353239);
  color: #ccc;
  }

  dt, :not(a) > h3 {
  color: #fff;
  }
}
