a {
color: #7733ff;
text-decoration: underline;
}

a:hover {
color: #fe2e9a !important;
}

article header {
padding-bottom: 20px;
margin-bottom: 20px;
}

body {
background-color: #fff;
background-image: linear-gradient(#ffe6f3, #fff);
background-repeat: no-repeat;
background-size: 100% 250px;
color: #000;
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
font-size: 1.3em;
line-height: 1.3em;
margin: 0;
padding: 0;
}

div#wrapper {
margin: auto;
max-width: 600px;
}

div.e-content p {
line-height: 1.7em;
}

header#masthead {
display: grid;
margin-bottom: 25px;
}

header#masthead nav {
border-bottom: solid 1px #ffcce6;
border-top: solid 1px #ffcce6;
font-size: 90%;
grid-column: 1/3;
grid-row: 2;
margin: 5px 0;
padding: 10px 25px;
}

header#masthead nav a {
color: #000;
}

dd {
display: block;
font-size: 80%;
margin: 5px 0 20px 0;
}

dt {
display: block;
margin: 0 0 10px 0;
}

figcaption {
color: #aaa;
font-size: 70%;
margin-bottom: 20px;
}

figure {
margin: 0 0 10px 0;
}

footer {
border-top: solid 1px #eee;
font-size: 70%;
margin-top: 20px;
text-align: center;
}

form {
padding: 0;
margin: 10px 0;
}

h1 {
color: #fe2e9a;
font-size: 250%;
line-height: 1em;
margin: 0;
padding: 0;
text-transform: lowercase;
}

h1 a {
background: url(/images/general/logo.svg) no-repeat;
background-size: contain;
display: block;
padding: 50px 0 50px 220px;
text-decoration: none;
}

h1 a:hover {
color: #7733ff !important;
text-decoration: underline;
}

h1 a span {
display: block;
color: #fe2e9a;
}

h2 {
color: #fe2e9a;
margin: 0;
padding: 5px 0;
}

h3 {
font-weight: 600;
margin: 0;
padding: 0;
}

h3 a {
color: #000;
}

h4 {
font-weight: 600;
margin: 20px 0 5px 0;
padding: 0;
}

img.detail, img.portrait {
border: solid 1px #555;
}

li {
padding: 5px;
}

main {
margin: auto;
max-width: 550px;
}

main > h2 + p {
margin: 10px 0 20px 0;
padding-bottom: 15px;
border-bottom: solid 1px #eee;
}

nav li {
display: inline-block;
margin: 0;
padding: 0;
}

nav li:before {
color: #aaa;
content: "/ ";
}

nav li:first-child:before {
content: "";
}

nav ul {
list-style: none outside;
margin: 0;
padding: 0;
}

nav#paginator {
margin-top: 20px;
text-align: center;
}

nav#paginator span {
color: #ccc;
}

nav.categories {
color: #aaa;
font-size: 75%;
margin: 0;
padding: 0;
}

nav.categories p {
display: inline-block;
margin: 0;
padding: 0 5px 0 0;
}

nav.categories ul {
display: inline;
}

p#description {
align-self: center;
border-left: solid 1px #ffcce6;
color: #666;
font-size: 70%;
margin-left: 30px;
padding: 0 20px;
}

p#licence {
font-size: 70%;
}

p.summary {
margin: 5px 0;
}

pre {
background-color: #f5f5f5;
max-height: 300px;
overflow: scroll;
padding: 20px;
}

span.summary {
color: #888;
}

time {
color: #888;
font-size: 80%;
display: block;
margin: 10px 0;
}

ul {
list-style: square inside;
margin: 10px;
padding: 0;
}

ul.categories, ul.months {
color: #aaa;
display: grid;
grid-template-columns: 33% 33% 33%;
list-style: none outside;
margin: 20px 0;
}

ul.categories li, ul.months li {
padding: 0;
margin-bottom: 10px;
}

@media all and (max-width: 625px) {
  h1 {
  place-self: center;
  }

  h1 a {
  padding: 220px 0 0 0;
  }

  h1 a span {
  display: inline;
  }

  header#masthead {
  padding: 0 20px 0 20px;
  }

  header#masthead nav {
  grid-row: 4;
  padding: 10px 0;
  }

  header#masthead nav ul {
  text-align: center;
  }
  
  img.detail, img.portrait {
  height: auto;
  padding: 0;
  width: 100%;
  }

  main, footer {
  padding: 0 20px;
  }

  p#description {
  border: 0;
  grid-column: 1;
  grid-row: 3;
  padding: 0;
  margin: 25px 0 0 0;
  }
  
  ul.categories, ul.months {
  grid-template-columns: 50% 50%;
  }
}

@media all and (max-width: 320px) {
  nav.categories p {
  display: block;
  }

  ul.categories, ul.months {
  grid-template-columns: 100%;
  }
}
