:root {
  color-scheme: light dark;
  --background-colour: #fff;
  --details-colour: #888;
  --divider-colour: #ffcce6;
  --gradient-start: #ffe6f3;
  --gradient-end: #fff;
  --image-border-colour: #555;
  --link-colour: var(--usesthis-purple);
  --link-hover-colour: var(--usesthis-pink);
  --link-nav-colour: #000;
  --summary-colour: #222;
  --text-colour: #000;
  --usesthis-purple: #7733ff;
  --usesthis-pink: #fe2e9a;
}

a {
  color: var(--link-colour);
  text-decoration: underline;
}

a:hover {
  color: var(--link-hover-colour) !important;
}

article.interviewee + article.interviewee, div.e-content {
  margin-top: 30px;
}

article.interviewee:last-of-type p.details {
  border: 0;
}

aside#support {
  background-color: var(--gradient-start);
  font-size: 68%;
  order: -1;
  padding: 10px;
  margin-bottom: 20px;
}

body {
  background-color: var(--background-colour);
  background-image: linear-gradient(var(--gradient-start), var(--gradient-end));
  background-repeat: no-repeat;
  background-size: 100% 250px;
  color: var(--text-colour);
  display: flex;
  flex-flow: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4em;
  line-height: 1.4em;
  margin: auto;
  max-width: 500px;
  padding: 10px 30px;
}

dd {
  display: block;
  font-size: 80%;
  margin: 5px 0 25px 0;
}

dt {
  display: block;
  font-size: 110%;
  margin: 0 0 10px 0;
}

figcaption {
  color: #aaa;
  font-size: 70%;
  margin-bottom: 20px;
}

figure {
  margin: 0 0 10px 0;
}

footer {
  border-top: solid 1px var(--divider-colour);
  font-size: 70%;
}

form {
  margin: 10px 0;
  padding: 0;
}

h1 {
  font-size: 280%;
  line-height: 1em;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

h1 a {
  color: var(--usesthis-purple);
  padding: 0;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}

h1 span {
  color: var(--usesthis-pink);
}

h2 {
  color: var(--usesthis-pink);
  margin: 0;
  padding: 5px 0;
}

h3 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h4 {
  font-weight: 600;
  margin: 20px 0 5px 0;
  padding: 0;
}

img.detail, img.portrait {
  border: solid 1px var(--image-border-colour);
  padding: 0;
}

input[type=search] {
  background-color: var(--divider-colour);
}

li {
  padding: 0;
}

main > h2 + p {
  margin: 10px 0 20px 0;
  padding-bottom: 20px;
  border-bottom: solid 1px var(--divider-colour);
}

main p, main ul {
  line-height: 1.7em;
}

nav a {
  color: var(--link-nav-colour);
}

nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav li:before {
  color: var(--divider-colour);
  content: "/ ";
}

nav li:first-child:before {
  content: none;
}

nav ul {
  list-style: none outside;
  margin: 0;
  padding: 0;
}

nav#control {
  border-bottom: solid 1px var(--divider-colour);
  border-top: solid 1px var(--divider-colour);
  font-size: 110%;
  margin: 5px 0 25px 0;
  padding: 10px 0;
  text-transform: uppercase;
}

nav#paginator {
  display: grid;
  font-size: 90%;
  margin: 20px 0;
  padding-top: 20px;
  text-align: center;
  border-top: solid 1px var(--divider-colour);
}

nav#paginator p {
  grid-column: 2;
  grid-row: 1;
  padding: 0;
  margin: 0;
}

nav#paginator span {
  color: #ccc;
}

nav#paginator span#next {
  justify-self: start;
  grid-column: 3;
}

nav#paginator span#previous {
  grid-column: 1;
  justify-self: end;
}

ol {
  font-size: 90%;
  list-style-position: inside;
  margin: 10px;
  padding: 0;
}

p#description {
  color: var(--details-colour);
  font-size: 70%;
  margin: 0;
  padding: 0;
}

p#licence {
  font-size: 70%;
}

p.details {
  border-bottom: solid 1px var(--divider-colour);
  color: var(--details-colour);
  font-size: 80%;
  margin: 0;
  padding: 0 0 15px 0;
}

p.details a {
  color: var(--details-colour);
}

p.summary {
  color: var(--summary-colour);
  margin: 5px 0;
}

span.summary {
  color: var(--summary-colour);
  font-size: 90%;
}

ul {
  font-size: 90%;
  list-style: square inside;
  margin: 10px;
  padding: 0;
}

ul + h3 {
  margin-top: 20px;
}

ul.categories {
  display: grid;
  font-size: 100%;
  grid-template-columns: repeat(3, 1fr);
  list-style: none outside;
  margin: 15px 0;
}

ul.categories li {
  padding: 0;
  margin-bottom: 10px;
}

ul.months {
  list-style: none outside;
  margin: 15px 0 25px 0;
  padding: 0;
}

ul.months li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul.months li:before {
  color: var(--divider-colour);
  content: "/ ";
}

ul.months li:first-child:before {
  content: none;
}

@media all and (max-width: 600px) {
  figure {
    height: 0;
    margin-bottom: 15px;
    padding-top: calc(67 / 100 * 100%);
    position: relative;
  }

  figcaption {
    float: left;
    margin-top: 10px;
  }

  img.detail {
    height: auto;
    width: 100%;
  }

  img.portrait  {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  nav#control ul {
    font-size: 80%;
  }

  ul.categories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 550px) {
  ul.categories {
    grid-template-columns: 1fr;
  }

  footer {
    margin-top: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-colour: #353239;
    --divider-colour: #444;
    --gradient-start: #252525;
    --gradient-end: #353239;
    --image-border-colour: #ccc;
    --link-colour: #b996ff;
    --link-nav-colour: #aaa;
    --summary-colour: #aaa;
    --text-colour: #ccc;
  }

  a {
    text-shadow: 1px 1px 1px #222;
  }

  dt, :not(a) > h3 {
    color: #fff;
  }
}
