a {
color: #000;
text-decoration: none;
}

a:hover {
color: #fe2e9a !important;
}

a[rel] {
background-color: #f9f9f9;
border: solid 1px #eee;
padding: 0 5px;
border-radius: 5px;
font-size: 90%;
text-decoration: none !important;
}

a[rel]:hover {
background-color: #ddd;
border: solid 1px #aaa;
}

article#interview img.portrait, article#interview img.detail {
float: right;
margin: 0 0 30px 30px;
}

body {
padding: 50px 0;
margin: 0 auto;
font-family: "helvetica neue", helvetica, sans-serif;
font-weight: 200;
font-size: 22px;
background-color: #fff;
}

dd {
padding: 20px 35px;
margin: 0;
font-size: 95%;
}

dt {
font-size: 120%;
font-style: italic;
}

dt:before {
content: "▸";
margin-right: 10px;
font-style: normal;
}

figure {
padding: 0;
margin: 0;
}

footer {
width: 100%;
font-size: 60%;
color: #aaa;
border-top: solid 1px #eee;
}

h1 {
padding: 0;
margin: 0;
font-weight: 600;
font-size: 220%;
}

h2 {
padding: 0;
margin: 0;
font-weight: 500;
font-size: 160%;
}

h2 a {
color: #000;
text-decoration: none !important;
}

h3 {
padding: 0;
margin: 15px 0 5px 0;
font-size: 120%;
font-weight: 400;
}

img.detail,
img.portrait {
border: solid 1px #000;
display: block;
margin-bottom: 20px;
}

p#tagline {
font-size: 90%;
color: #aaa;
padding: 0;
margin: 0 0 20px 0;
}

p.details {
padding: 0;
margin: 0 0 20px 0;
font-size: 60%;
color: #999;
}

p.details a {
color: #777;
}

p.summary {
padding: 0;
margin: 5px 0 0 0;
font-size: 90%;
color: #888;
}

nav ul {
padding: 5px 0 10px 0;
margin: 0;
font-size: 105%;
font-weight: 200;
border-bottom: solid 1px #eee;
}

nav ul li {
display: inline;
}

nav ul li:before {
content: " / ";
color: #ddd;
}

nav ul li:first-child:before {
content: "";
}

nav ul li a {
padding: 4px;
color: #fe2e9a !important;
}

nav ul li a:hover {
background-color: #fe2e9a;
color: #fff !important;
border-radius: 5px;
}

section#ad {
float: right;
width: 300px;
font-size: 55%;
margin: 10px;
}

section#ad .fusiontext a {
color: #aaa;
text-decoration: none !important;
}

section#ad img {
float: right;
margin-left: 10px;
}

section#contents {
line-height: 35px;
padding: 25px 0;
}

section#contents a {
text-decoration: underline;
}

ul#wares {
list-style: none inside;
padding: 0;
margin: 10px 0;
}

@media screen and (min-width: 1000px) {

	body {
	max-width: 1060px;
	}
	
	article.categories, article.dates, article.interviewee, article.localised, article.personal {
	float: left;
	width: 502px;
	margin: 0 14px 20px 14px;
	}
	
	footer {
	clear: left;
	}
}

@media screen and (max-width: 1200px) {

	article.interviewee {
	float: none;
	margin: 0;
	}
	
	section#ad {
	display: none;
	}
	
	body {
	width: 500px;
	padding: 20px;
	}
	
	h1 {
	font-size: 190%;
	}
	
	nav ul {
	font-size: 95%;
	}
	
	section#contents {
	line-height: 35px;
	padding: 25px 0;
	}
}

@media screen and (max-device-width: 480px) {

	body {
	width: 500px;
	padding: 20px;
	margin: 0;
	}
}