---
layout: default
title: Hello
---

{% for interview in paginator.posts %}
	<article class="interviewee">
		{% include summary.html %}
	</article>
{% endfor %}

<nav id="paginator">
{% if paginator.previous_page %}<a href="/{% if paginator.previous_page != 1 %}page{{paginator.previous_page}}{% endif %}" title="Go to page {{paginator.previous_page}} of the interviews.">Previous</a>{% else %}<span>Previous</span>{% endif %}
- Page <strong>{{paginator.page}}</strong> of <strong>{{paginator.total_pages}}</strong> -
{% if paginator.next_page %}<a href="/page{{paginator.next_page}}" title="Go to page {{paginator.next_page}} of the interviews.">Next</a>{% else %}<span>Next</span>{% endif %}
</nav>