---
layout: default
title: The Setup
---
{% for post in site.posts limit:10 %}
	<figure>
		{% if forloop.first %}
		<a href='http://{{post.slug}}.usesthis.com/' title='View an interview with {{post.person}}.'><img src='/images/portraits/{{post.slug}}.jpg' alt='{{post.person}}' width='500' height='335' class='portrait'></a>
		{% else %}
		<a href='http://{{post.slug}}.usesthis.com/' title='View an interview with {{post.person}}.'><img src='/images/thumbnails/{{post.slug}}.jpg' alt='{{post.person}}' width='500' height='100' class='thumbnail'></a>
		{% endif %}
	</figure>
	
	<h2 class='person'><a href='http://{{post.slug}}.usesthis.com/' title='View an interview with {{post.person}}.'>{{post.person}}</a></h2>
	<p class='summary'>{{post.summary}}</p>
	<p class='details'>Posted <time datetime='{{post.date | date: "%Y-%m-%d"}}'>
		{{post.date | date: "%b %d, %Y"}}</time> in 
		{% assign categories=post.categories %}
		{% include categories.html %}
	</p>
{% endfor %}