- for interview in @interviews do
	figure 
		a href='http://#{interview.slug}.usesthis.com/' title='View an interview with #{interview.name}.'
			img.portrait src='/images/portraits/#{interview.slug}.jpg' width='500' height='335

	h2.person
		a href='http://#{interview.slug}.usesthis.com/' title='View an interview with #{interview.name}.'= interview.name
	p.summary= interview.summary
	p.details 
		| Posted 
		time datetime='#{interview.published_on}'= interview.published_on
		|  in 
		- interview.categories.each do |category|
			a href="/interviews/#{category.slug}/" rel="#{category.slug}" = category.slug
