- if @stats
	h2 By year
	ul#years
		- @stats.each do |row|
			li
				a href="/interviews/in/#{row['year']}" = row['year']
				= " (#{row['count']} interview#{'s' if row['count'] != 1})"

- if @categories
	h2 By category
	p
		- @categories.each do |category|
			a href="/interviews/#{category.slug}/" rel="#{category.slug}" = category.slug