a {
color: #fe2e9a;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

article.interviewee, article.interview header {
margin-bottom: 25px;
}

aside#sellout {
padding-top: 5px;
color: #777;
font-size: 70%;
line-height: 160%;
}

body {
padding: 50px 30px;
margin: 0;
background-color: #fff;
color: #000;
font-family: "helvetica neue", helvetica;
font-size: 15px;
line-height: 180%;
}

code {
color: #888;
}

dd {
padding: 0;
margin: 0 0 20px 0;
}

dt {
font-style: italic;
color: #fe2e9a;
}

div#wrapper {
max-width: 720px;
margin: auto;
}

div#stump {
position: fixed;
float: left;
width: 160px;
}

figure {
padding: 0;
margin: 0 0 10px 0;
}

figcaption {
float: right;
padding: 5px 0 0 0;
font-size: 65%;
}

footer {
clear: left;
padding: 10px 0 0 0;
margin: 0 0 0 220px;
color: #777;
font-size: 75%;
line-height: 160%;
border-top: solid 1px #eee;
}

h1 {
text-transform: uppercase;
padding: 0;
margin: 0;
font-size: 160%;
}

h1 a {
color: #000;
}

h1 a:hover {
color: #fff;
background-color: #000;
text-decoration: none;
}

h2 {
text-transform: uppercase;
padding: 5px 0 10px 0;
margin: 0;
color: #fe2e9a;
font-size: 110%;
}

h3 {
padding: 0;
margin: 0;
color: #333;
font-size: 180%;
}

h4 {
clear: left;
padding: 0;
margin: 0 0 15px 0;
font-size: 145%;
}

h5 {
padding: 0;
margin: 0 0 5px 0;
font-size: 115%;
}

h5 a {
color: #000;
}

header {
line-height: 160%;
}

img.detail, img.portrait {
border: solid 1px #000;
}

main {
margin-left: 220px;
max-width: 500px;
}

nav#main {
line-height: 120%;
}

nav#main ul {
list-style: none outside;
text-transform: uppercase;
padding: 0;
margin: 0;
border-top: solid 1px #eee;
font-size: 90%;
}

nav#main ul li a {
display: block;
padding: 5px 0;
border-bottom: solid 1px #eee;
}

nav#paginator {
text-align: center;
clear: left;
padding: 20px 0;
border-top: solid 1px #eee;
font-size: 120%;
}

nav#paginator span {
color: #aaa;
}

p.details {
padding: 0;
margin: 0;
color: #aaa;
font-size: 90%;
}

p.license {
padding: 10px;
background-color: #eee;
color: #555;
font-size: 85%;
}

p.summary {
padding: 5px 0;
margin: 0;
color: #555;
font-size: 120%;
}

p#feeds {
font-size: 80%;
color: #aaa;
}

p#tagline {
padding: 0;
margin: 5px 0 20px 0;
font-size: 90%;
}

span.summary {
color: #777;
}

span.url {
color: #999;
font-size: 80%;
}

ul.categories {
list-style: none outside;
padding: 0;
margin: 5px 0;
font-size: 80%;
}

ul.categories li {
display: inline;
padding: 0;
margin: 0 10px 0 0;
}

ul.interviews, ul.links {
list-style: none outside;
padding: 0;
margin: 10px 0;
}

ul.interviews li, ul.links li {
padding-bottom: 10px;
}

@media screen and (max-width: 790px) {

	aside#sellout {
	width: 100%;
	position: absolute;
	float: none;
	padding-bottom: 10px;
	top: 0;
	border-bottom: solid 1px #eee;
	}

	aside#sellout img {
	float: left;
	margin: 0 15px 0 0;
	}

	body {
	padding: 20px;
	}

	div#wrapper {
	max-width: 500px;
	}

	div#stump {
	position: relative;
	float: none;
	width: 100%;
	margin: auto;
	}

	div#stump > header {
	padding-top: 150px;
	}

	h1 {
	font-size: 250%;
	padding-bottom: 10px;
	}

	h2 {
	font-size: 180%;
	border: 0;
	}

	img.portrait, img.detail {
	max-width: 500px;
	width: 100%;
	height: auto;
	}

	main, footer {
	margin: 0;
	}

	nav#main ul {
	padding: 10px 0;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
	}

	nav#main ul li {
	display: inline;
	}

	nav#main ul li:before {
	content: "/ ";
	color: #eee;
	}

	nav#main ul li:first-child:before {
	content: "";
	}

	nav#main ul li a {
	display: inline;
	border: 0;
	}

	p#feeds {
	padding-bottom: 10px;
	}
}

@media screen and (max-width: 600px), (max-device-width: 480px) {

	nav#paginator {
	font-size: 90%;
	}
}