a:link, a:visited {
color: #fe2e9a;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a[rel] {
background-color: #f9f9f9;
border: solid 1px #eee;
padding: 0 5px;
border-radius: 5px;
font-size: 90%;
}

a[rel]:hover {
background-color: #ddd;
text-decoration: none;
border: solid 1px #aaa;
}

article#interview img.portrait, article#interview img.detail {
float: right;
margin: 0 0 30px 30px;
}

body {
padding: 50px;
margin: 0 auto;
font-family: "helvetica neue", helvetica, sans-serif;
font-weight: 200;
font-size: 23px;
}

dd {
font-size: 90%;
padding: 10px 30px;
margin: 0;
}

dt {
font-size: 110%;
font-style: italic;
}

dt:before {
content: "▸";
font-style: normal;
margin-right: 10px;
}

figure {
padding: 0;
margin: 0;
}

footer {
font-size: 60%;
color: #aaa;
}

h1 {
padding: 0;
margin: 0;
font-weight: 600;
font-size: 220%;
}

h1:before {
content: "☻";
margin-right: 20px;
float: left;
font-size: 150%;
}

h2 {
padding: 0;
margin: 0;
font-weight: 400;
font-size: 150%;
}

h2 a:link, h2 a:visited {
color: #000;
}

h3 {
padding: 0;
margin: 15px 0 5px 0;
font-weight: 400;
}

h4 {
font-weight: 200;
font-size: 120%;
padding: 0;
margin: 0;
color: #666;
}

img.portrait, img.detail {
border: solid 1px #000;
display: block;
margin-bottom: 20px;
}

p#tagline {
font-size: 90%;
color: #aaa;
padding: 0;
margin: 0 0 20px 0;
}

p.details {
padding: 0;
margin: 0 0 20px 0;
font-size: 60%;
color: #ccc;
}

p.summary {
padding: 0;
margin: 5px 0 0 0;
font-size: 90%;
color: #888;
}

nav ul {
padding: 5px 0;
margin: 0;
font-size: 90%;
font-weight: 200;
border-top: solid 1px #eee;
border-bottom: solid 1px #eee;
}

nav ul li {
display: inline;
}

nav ul li:before {
content: " / ";
color: #ddd;
}

nav ul li:first-child:before {
content: "";
}

section#contents {
line-height: 35px;
padding: 25px 0;
}

ul#wares {
list-style: none inside;
padding: 0;
margin: 10px 0;
}

@media screen and (min-width: 1200px) {

	body {
	max-width: 1030px;
	}
	
	article#interviews {
	column-width: 500px;
	-moz-column-width: 500px;
	-webkit-column-width: 500px;
	}
}

@media screen and (max-width: 1200px) {

	body {
	width: 502px;
	font-size: 20px;
	}
}

@media screen and (max-device-width: 480px) {

	body {
	width: 500px;
	padding: 20px;
	margin: 0;
	}
}