/* Default styles */

a:link, a:visited {
color: #fe2e9a;
text-decoration: none;
}

a[rel] {
background-color: #f9f9f9;
border: solid 1px #eee;
padding: 3px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
font-size: 90%;
}

a[rel]:hover {
background-color: #ddd;
text-decoration: none;
border: solid 1px #aaa;
}

a:hover {
text-decoration: underline;
}

a:hover img.icon, a:hover img.portrait, a:hover img.thumbnail {
opacity: 0.9;
}

article.contents ul, article.contents ol {
list-style: disc;
padding: 10px 25px;
font-size: 80%;
}

aside#sidebar {
float: right;
width: 130px;
padding: 20px 0 0 10px;
font-size: 80%;
}

aside#sidebar img {
margin-bottom: 10px;
}

aside#sidebar p {
padding: 0;
margin: 0 0 10px 0;
}

aside#sidebar .fusiontext a {
color: #888;
font-size: 90%;
}

body {
padding: 40px 20px;
margin: 0;	
font-family: "helvetica neue", helvetica, sans-serif;
font-weight: 400;
font-size: 15px;
}

dd {
margin: 0 0 15px 0;
font-size: 90%;
}

dt {
padding: 0 0 5px 0;
color: #777;
font-size: 120%;
font-weight: 300;
}

figure {
padding: 0;
margin: 0;
}

figcaption {
float: right;
color: #aaa;
font-size: 80%;
}

footer {
clear: both;
padding-top: 20px;
color: #888;
font-size: 80%;
}

h1 {
padding: 0;
margin: 0;
font-size: 250%;
font-weight: 200;
}

h1 a:link, h1 a:visited {
color: #333 !important;
}

h2 {
padding: 0;
margin: 0;
font-size: 180%;
font-weight: 300;
}

h2 a:link, h2 a:visited {
color: #000 !important;
}

h3 {
padding: 0;
margin: 20px 0 5px 0;
color: #555;
font-size: 140%;
font-weight: 300;
}

html {
width: 702px;
margin: auto;
}

img.icon {
float: left;
border: solid 1px #000;
margin-right: 20px;
}

img.portrait, img.thumbnail, img.detail {
border: solid 1px #000;
margin-bottom: 20px;
display: block;
}

nav ul {
padding: 5px 0;
margin: 0;
font-size: 110%;
font-weight: 200;
border-top: solid 1px #eee;
border-bottom: solid 1px #eee;
}

nav ul li {
display: inline;
}

nav ul li:before {
content: " / ";
color: #ddd;
}

nav ul li:first-child:before {
content: "";
}

p#tagline {
padding: 2px;
margin: 0 0 10px 0;
color: #777;
font-size: 120%;
font-weight: 200;
}

p.details {
color: #aaa;
padding: 5px 0;
margin: 5px 0 10px 0;
font-size: 80%;
}

p.summary {
padding: 0;
margin: 5px 0 0 0;
font-size: 110%;
color: #888;
}

section#contents {
width: 500px;
padding: 20px 18px 0 0;
line-height: 25px;
}

ul, ol {
padding: 10px;
margin: 10px 20px;
font-size: 85%;
}

ul#interviews {
list-style: none inside;
padding: 0;
margin: 0;
font-size: 100%;
}

ul#interviews > li {
clear: left;
padding-bottom: 5px;
margin-bottom: 15px;
}

/* iPhone-type devices here */

@media screen and (max-device-width: 480px) {
	
	aside {
	display: none;
	}
	
	body {
	padding: 20px;
	margin: 0;
	font-size: 20px;
	}
	
	html {
	width: 500px;
	margin: 0;
	}
	
	h2 {
	padding: 10px 0;
	}
	
	img.portrait, img.thumbnail, img.detail {
	margin-left: -20px;
	border-left: 0 !important;
	border-right: 0 !important;
	}
	
	nav ul {
	margin-bottom: 15px;
	font-size: 90%;
	}
	
	section#contents {
	width: auto;
	line-height: 32px;
	}	
}