---
layout: default
title: API 
---

<h2>API</h2>
<p>Uses This has a very simple (static!) JSON-based API. I'd love to know if you end up doing something fun with it!</p>

<h3>Interviews</h3>

<dl>
  <dt id="interviews">GET <a href="/api/v2/interviews/" title="Get a list of interviews from the API.">/api/v2/interviews/</a></dt>
  <dd>Returns a paginated list of interviews.</dd>
  <dt id="interview">GET <a href="/api/v2/interviews/<%= site.latest_post.slug %>/" title="Get a single interview from the API.">/api/v2/interviews/<em>slug</em>/</a></dt>
  <dd>Returns a single interview.</dd>
</dl>

<h3>Gear</h3>

<dl>
  <dt id="gear">
    GET <a href="/api/v2/hardware" title="Get a list of hardware from the API.">/api/v2/hardware</a><br>
    GET <a href="/api/v2/software" title="Get a list of software from the API.">/api/v2/software</a>
  </dt>
  <dd>Returns a paginated list of the given gear type.</dd>
  <dt id="item">
    GET <a href="/api/v2/hardware/macbook-pro" title="Get a single piece of hardware from the API.">/api/v2/hardware/<em>slug</em></a><br>
    GET <a href="/api/v2/software/photoshop" title="Get a single piece of software from the API.">/api/v2/software/<em>slug</em></a>
  </dt>
  <dd>Returns a single piece of gear.</dd>
</dl>

<h3>Stats</h3>

<dl>
  <dt id="stats">
    GET <a href="/api/v2/stats" title="Get some basic stats information from the API.">/api/v2/stats</a><br>
  </dt>
  <dd>Returns some very basic statistics about the site.</dd>
  <dt id="item">
    GET <a href="/api/v2/stats/hardware" title="Get hardware statistics from the API.">/api/v2/stats/hardware/</a><br>
    GET <a href="/api/v2/stats/software" title="Get software statistics from the API.">/api/v2/stats/software/</a>
  </dt>
  <dd>Returns the top 50 items by mentions. Accepts a <code>year</code> parameter.</dd>
</dl>
