---
layout: default
title: API
---

<h3>The API</h3>
<p>Uses This provides a very simple, JSON-based API. Since it's 100% static (!), all requests are GET requests. I'd love to know if you do something interesting with it!</p>

<h4 id="interviews-endpoints">Interviews</h4>

<h5 id="interviews-list">Getting a list</h5>
<p class="summary">This method returns a paginated list of all the interviews.</p>
<p><a href="/api/interviews" title="Request a list of all the interviews as JSON.">https://usesthis.com/api/interviews</a></p>
<pre>
{
  "interviews": [
    {
      "slug": "fizban.the.fabulous",
      "name": "Fizban the Fabulous",
      "url": "http://usesthis.com/interviews/fizban.the.fabulous/",
      "summary": "Wizard",
      "date": 1425970800,
      "categories": [
        "mac",
        "wizard"
      ],
      "credits": {
        "name": "Tanis Half-Elven",
        "url: "http://tanis15elf.com/"
      }
    },
    {
      "slug": "tasslehoff.burrfoot",
      "name": "Tasslehoff Burrfoot",
      "url": "http://usesthis.com/interviews/tasslehoff.burrfoot/",
      "summary": "Borrower",
      "date": 1425542400,
      "categories": [
        "linux",
        "thief"
      ],
      "credits": ""
    }
  ],
  "paging": {
    "current_page": "1",
    "item_count": "10",
    "page_count": "5",
    "next_page_url": "https://usesthis.com/api/interviews/?page=2",
    "previous_page_url": ""
  }
}
</pre>

<h5 id="interviews-interview">Getting an interview</h5>
<p class="summary">This method returns a complete interview for the given slug, including gear.</p>
<p><a href="/api/interviews/<%= @site.latest_post.slug %>" title="Request a given interview as JSON.">https://usesthis.com/api/interviews/{slug}</a></p>
<pre>
{
  "interview": {
    "slug": "tasslehoff.burrfoot",
    "name": "Tasslehoff Burrfoot",
    "url": "http://usesthis.com/interviews/tasslehoff.burrfoot/",
    "summary": "Borrower",
    "date": 1425542400,
    "categories": [
      "linux",
      "thief"
    ],
    "credits": "",
    "contents": "#### Who are you, and what do you do?...",
    "gear": {
      "hardware": [
        {
          "slug": "hoopak",
          "name": "Hoopak",
          "description": "A wooden staff with a sling.",
          "url": "http://www.hoopaks-r-us.com/"
        }
      ],
      "software": [
        {
          "slug": "wanderlust",
          "name": "Wanderlust",
          "description": "A need for travel.",
          "url": "http://my-kender.net/"
        }
      ]
    }
  }
}
</pre>

<h5 id="interviews-categories">Getting categories</h5>
<p class="summary">This method returns a basic list of all the interview categories.</p>
<p><a href="/api/categories" title="Request a list of all the interview categories as JSON.">https://usesthis.com/api/categories</a></p>
<pre>
{
  "categories": [
    "linux",
    "mac",
    "thief",
    "wizard"
  ]
}
</pre>

<h5 id="interviews-category">Getting a category</h5>
<p class="summary">This method returns a basic list of all the interviews for the given category.</p>
<p><a href="/api/categories/mac" title="Request a list of a category's interviews as JSON.">https://usesthis.com/api/categories/{slug}</a></p>
<pre>
{
  "interviews": [
    {
      "slug": "fizban.the.fabulous",
      "name": "Fizban the Fabulous",
      "url": "http://usesthis.com/interviews/fizban.the.fabulous/",
      "summary": "Wizard",
      "date": 1425970800,
      "categories": [
        "mac",
        "wizard"
      ],
      "credits": {
        "name": "Tanis Half-Elven",
        "url: "http://tanis15elf.com/"
      }
    }
  ],
  "paging": {
    "current_page": "1",
    "item_count": "1",
    "page_count": "1",
    "next_page_url": "",
    "previous_page_url": ""
  }
}</pre>

<h4 id="gear">Gear</h4>

<h5 id="gear-list">Getting a list</h5>
<p class="summary">This method returns a paginated list of all the hardware or software mentioned on the site.</p>
<p>
  <a href="/api/hardware" title="Request a list of all the hardware as JSON.">https://usesthis.com/api/hardware</a><br>
  <a href="/api/software" title="Request a list of all the software as JSON.">https://usesthis.com/api/software</a><br>
</p>
<pre>
{
  "gear": [
    {
      "slug": "hoopak",
      "name": "Hoopak"
    }
  ]
}
</pre>

<h5 id="gear-item">Getting an item</h5>
<p class="summary">This method returns a single piece of hardware or software for the given slug, including related interviews.</p>
<p>
  <a href="/api/hardware/macbook-pro" title="Request a given piece of hardware as JSON.">https://usesthis.com/api/hardware/{slug}</a><br>
  <a href="/api/software/photoshop" title="Request a given piece of software as JSON.">https://usesthis.com/api/software/{slug}</a>
</p>
<pre>
{
  "gear": {
    "slug": "hoopak",
    "name": "Hoopak",
    "description": "A wooden staff with a sling.",
    "url": "http://www.hoopaks-r-us.com/",
    "interviews": [
      {
        "slug": "tasslehoff.burrfoot",
        "name": "Tasslehoff Burrfoot",
        "summary": "Borrower"
      }
    ]
  }
}
</pre>

<h4 id="stats">Stats</h4>

<h4 id="stats-general">Getting general info</h5>
<p class="summary">This method returns basic site statistics.</p>
<p><a href="/api/stats" title="Request general site statistics as JSON.">https://usesthis.com/api/stats</a></p>
<pre>
{
  "interviews": 10,
  "hardware": 42,
  "software": 69
}
</pre>

<h5 id="stats-gear">Getting gear info</h5>
<p class="summary">This method returns the top 50 hardware or software items mentioned on the site. You can also specify a given year by adding it to the URL.</p>
<p>
  <a href="/api/stats/hardware" title="Request recent hardware statistics as JSON.">https://usesthis.com/api/stats/hardware</a><br>
  <a href="/api/stats/software" title="Request recent software statistics as JSON.">https://usesthis.com/api/stats/software</a><br>
</p>
<pre>
{
  "gear": [
    {
      "slug": "hoopak",
      "name": "Hoopak",
      "description": "A wooden staff with a sling.",
      "url": "http://www.hoopaks-r-us.com/",
      "count": 1
    }
  ]
}</pre>