a:link, a:visited {
color: #fe2e9a;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

article.contents ul, article.contents ol {
list-style: disc;
padding: 10px 25px;
font-size: 80%;
}

aside#sidebar {
float: right;
width: 130px;
padding: 20px 0 0 10px;
font-size: 80%;
}

aside#sidebar img {
margin-bottom: 10px;
}

aside#sidebar p {
padding: 0;
margin: 0 0 10px 0;
}

aside#sidebar .fusiontext a {
color: #888;
font-size: 90%;
}

body {
padding: 40px 20px;
margin: 0;
font-family: "helvetica neue", helvetica, sans-serif;
font-size: 15px;
font-weight: 400;
}

footer {
clear: both;
padding-top: 20px;
color: #888;
font-size: 80%;
}

h1 {
padding: 0;
margin: 0;
font-size: 250%;
font-weight: 200;
}

h1 a:link, h1 a:visited {
color: #333 !important;
}

h2 {
padding: 0;
margin: 0;
font-size: 170%;
font-weight: 300;
}

h2 a:link, h2 a:visited {
color: #000 !important;
}

h3 {
padding: 0;
margin: 20px 0 5px 0;
color: #555;
font-size: 140%;
font-weight: 300;
}

html {
width: 702px;
margin: auto;
}

img.icon {
float: left;
margin-right: 20px;
}

p#tagline {
padding: 2px;
margin: 0 0 10px 0;
color: #777;
font-size: 120%;
font-weight: 200;
}

p.credits {
float: right;
padding: 0;
margin: 0;
color: #aaa;
font-size: 80%;
}

p.summary {
padding: 0;
margin: 2px 0 0 0;
font-size: 90%;
color: #888;
}

nav ul {
padding: 5px 0;
margin: 0;
font-size: 110%;
font-weight: 200;
border-top: dotted 1px #ccc;
border-bottom: dotted 1px #ccc;
}

nav ul li {
display: inline;
}

nav ul li:before {
content: " / ";
color: #ddd;
}

nav ul li:first-child:before {
content: "";
}

section#contents {
width: 500px;
padding: 20px 18px 0 0;
line-height: 27px;
}

section#contents a:hover img {
opacity: 0.9;
}

section#contents img {
border: solid 1px #000;
margin-bottom: 10px;
}

time {
display: block;
padding: 0;
margin: 0;
font-size: 70%;
color: #aaa;
}

time:before {
content: "Published on ";
}

ul, ol {
padding: 10px;
margin: 10px 20px;
font-size: 85%;
}

ul#interviews {
list-style: none inside;
padding: 0;
margin: 0;
font-size: 100%;
}

ul#interviews > li {
clear: left;
padding-bottom: 5px;
margin-bottom: 15px;
border-bottom: dotted 1px #ddd;
}

ul#interviews a h2 {
color: #000;
}

ul#interviews a:hover h2 {
color: #fe2e9a;
}

ul.categories {
list-style: none inside;
padding: 0;
margin: 0;
font-size: 80%;
}

ul.categories:before {
content: "Filed under:";
color: #999;
}

ul.categories li {
display: inline;
}

ul.categories li:before {
content: " / ";
color: #bbb;
}

ul.categories li:first-child:before {
content: "";
}