a:link, a:visited {
text-decoration: none;
color: #fe2e9a;
}

a:hover {
text-decoration: underline;
color: #555;
}

article {
clear: left;
}

article.answers {
width: 500px;
}

body {
padding: 30px;
margin: 0;
background-color: #fff;
color: #000;
font-family: "source sans pro", source-sans-pro, sans-serif;
font-size: 15px;
line-height: 1.4em;
}

div#answers {
width: 500px;
}

div#content {
margin-left: 220px;
}

div#sellout {
width: 350px;
float: right;
margin: 10px 0 10px 30px;
font-size: 90%;
}

div#sellout br {
display: none;
}

div#sellout img {
float: left;
padding: 0;
margin: 0 15px 0 0;
}

div#sellout span.fusiontext a {
display: block;
color: #aaa;
}

div#stump {
position: fixed;
float: left;
width: 160px;
}

div#wrapper {
width: 1100px;
padding: 30px;
margin: auto;
}

dd {
padding: 10px 0;
margin: 0 0 10px 0;
font-size: 95%;
}

dt {
font-size: 110%;
}

footer {
clear: left;
padding: 10px 0;
margin-left: 220px;
color: #777;
font-size: 85%;
border-top: dotted 1px #aaa;
}

h1 {
text-transform: uppercase;
padding: 0;
margin: 0;
font-size: 150%;
}

h2 {
text-transform: uppercase;
padding: 0;
margin: 0;
color: #fe2e9a;
font-size: 150%;
}

h3 {
clear: left;
font-size: 125%;
}

img.portrait {
float: left;
margin: 0 20px 20px 0;
border: solid 1px #000;
}

img.detail {
border: solid 1px #000;
}

nav ul {
text-transform: uppercase;
padding: 0;
margin: 0;
list-style: none inside;
}

nav ul li a {
display: block;
padding: 5px 0;
border-bottom: solid 1px #eee;
}

p.credits {
padding: 0;
margin: 0;
color: #aaa;
font-size: 80%;
}

p.date {
padding: 0;
margin: 0;
color: #aaa;
font-size: 90%;
}

p.summary {
padding: 5px 0;
margin: 0;
color: #777;
font-size: 110%;
}

p#tagline {
padding: 0;
margin: 5px 0 10px 0;
color: #aaa;
}

span.summary {
color: #777;
}

ul.categories {
padding: 0;
margin: 10px 0;
list-style: none inside;
font-size: 85%;
}

ul.categories li {
display: inline-block;
margin: 0 5px 3px 0;
}

ul.categories li a:link, ul.categories li a:visited {
padding: 0 5px;
background-color: #f9f9f9;
color: #888;
text-decoration: none !important;
border: solid 1px #eee;
border-radius: 4px;
}

ul.categories li a:hover {
background-color: #ddd;
color: #555 !important;
border: solid 1px #aaa;
}

ul.months {
display: inline;
padding: 0;
margin: 0;
font-size: 90%;
}

ul.months li{
display: inline;
color: #aaa;
}

ul.months li:before {
content: "/ ";
}

ul.months li:first-child:before {
content: "";
}

ul.years > li {
padding-right: 10px;
}

ul.years > li > a:after {
content: ": ";
}

@media screen and (max-width: 1190px) {

	body {
	padding: 30px 0;
	}

	div#sellout {
	width: 100%;
	font-size: 90%;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: dotted 1px #aaa;
	}

	div#sellout img {
	float: left;
	margin: 0 20px 0 0;
	}

	div#wrapper {
	width: 720px;
	}

	img.portrait {
	float: none;
	margin: 0 0 10px 0;
	}

	ul.categories {
	margin-bottom: 30px;
	}
}

@media screen and (max-width: 800px) {

	body {
	padding: 0;
	}

	div#content {
	margin-left: 0;
	}

	div#stump {
	position: static;
	float: none;
	width: auto;
	margin-bottom: 20px;
	}

	div#wrapper {
	width: 500px;
	}

	footer {
	margin-left: 0;
	}

	h1 {
	float: left;
	margin-right: 20px;
	font-size: 120%;
	}

	nav ul {
	padding: 10px 0;
	font-size: 120%;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
	}

	nav ul li {
	display: inline;
	}

	nav ul li:before {
	content: "/ ";
	color: #eee;
	}

	nav ul li:first-child:before {
	content: "";
	}

	nav ul li a:link, nav ul li a:visited {
	display: inline;
	border: 0;
	}

	p#tagline {
	font-size: 120%;
	}
}