<% for interview in @interviews %>
	<article class="interviewee">
		<%= erb :summary, :locals => {:interview => interview, :selected => false} %>
	</article>
<% end %>

<p><em>Hungry for more?</em> There's <strong>hundreds</strong> of <a href="/interviews/" title="Keep reading the rest of the interviews!">interviews to read!</a></p>