<% for interview in @interviews %>
	<article class="interviewee">
		<%= erb :interview_summary, :locals => {:interview => interview, :selected => false} %>
	</article>
<% end %>

<p><em>Hungry for more?</em> There's <a href="/interviews/" title="Keep reading the rest of the interviews!">hundreds of interviews!</a></p>