---
layout: default
title: About
---

<h2>What's all this?</h2>
<p>Uses This, published twice a week, asks a random selection of people all about the tools and techniques they're using to get things done.</p>

<h3 id="faq">FAQ</h3>
<dl>
  <dt id="schedule">When are new interviews posted?</dt>
  <dd>Every <strong>Tuesday</strong> and <strong>Thursday</strong>, <a href="http://www.timeanddate.com/worldclock/australia/melbourne" title="The current time in Melbourne.">Melbourne time</a>.</dd>

  <dt id="suggestion">Can I suggest someone to interview?</dt>
  <dd>Yes, absolutely! Either via <a href="#contact" title="How to get in touch.">email or Twitter</a>.</dd>

  <dt id="myself">Can I suggest myself for an interview?</dt>
  <dd>If you post your own interview online and send me the link, I'd love to share it on <a href="#contact" title="How to get in touch via Twitter.">Twitter</a>!</dd>

  <dt id="apple">Is this some sort of Apple fan site?</dt>
  <dd>Nope, folks just like using their stuff a whole bunch! I'm completely focused on finding interesting people, and don't tend to know what gear they're using beforehand.</dd>

  <dt id="clone">Can I make my own version of the site?</dt>
  <dd>Absolutely! The whole site is freely available <a href="http://github.com/waferbaby/usesthis/" title="All of the source code for usesthis.com.">on GitHub</a>! And if you do end up making your own, I'd love to see it.</dd>

  <dt id="who">Who runs the site?</dt>
  <dd>Hello! I'm <a href="http://twitter.com/waferbaby" title="Daniel's Twitter account.">Daniel</a>, a web developer in Melbourne, Australia.</dd>

  <dt id="contact">How can I get in touch?</dt>
  <dd>Send an email to the fourth letter of the English alphabet, followed by the 'at' symbol, care of this domain. You can also ping me <a href="http://twitter.com/usesthis/" title="The Uses This Twitter account.">on Twitter</a> (DMs are open).</dd>

  <dt id="money">Do you make any money from the site?</dt>
  <dd>I'm using <a href="https://www.digitalocean.com/?refcode=b59c4de92bdc" title="The web hosting provider for usesthis.com (with a referral code in the link)." rel="nofollow">DigitalOcean</a> to host the site, and if you sign up via that link I get credit towards my hosting.</dd>
</dl>