---
layout: default
title: About
---

<h3>What's all this?</h3>
<p>
Uses This is a collection of nerdy interviews asking people from all walks of life what they use to get the job done.
There are currently <strong><%= @site.posts.count %></strong> interviews mentioning <strong><%= @site.hardware.count %></strong> pieces of hardware and <strong><%= @site.software.count %></strong> bits of software.
</p>

<h4 id="faq">FAQ</h4>
<dl>
  <dt id="schedule">When are new interviews posted?</dt>
  <dd>Every <strong>Tuesday</strong> and <strong>Thursday</strong>, <a href="http://www.timeanddate.com/worldclock/australia/melbourne" title="View the current time in Melbourne.">Melbourne time</a>.</dd>

  <dt id="who">Who runs the site?</dt>
  <dd>I'm <a href="http://twitter.com/waferbaby" title="Some dude's Twitter account.">Daniel Bogan</a>, a web nerd in Melbourne.</dd>

  <dt id="suggestion">Can I suggest someone to interview?</dt>
  <dd>Yes please! Either via email or Twitter (see below).</d>

  <dt id="myself">Can I suggest myself?</dt>
  <dd>If you write up your own interview, why not post it online and send me the link? I'd love to share it on Twitter!</dd>

  <dt id="apple">Is this some sort of Apple fan site?</dt>
  <dd>Surprisingly, no! People just like using their stuff - I try to pick interesting <em>people</em>, and don't tend to know what gear they're using beforehand.</dd>

  <dt id="clone">Can I make my own version of the site?</dt>
  <dd>Yes! The whole site is freely available <a href="http://github.com/waferbaby/usesthis/" title="The source code for the site.">on GitHub</a> - go nuts! And let me know if you <em>do</em> end up making your own, so I can link to it.</dd>

  <dt id="money">Do you make money from the site?</dt>
  <dd>I run a <a href="https://www.patreon.com/waferbaby" title="My Patreon account.">Patreon account</a>, where people have <a href="#thanks" title="A list of amazing people who sponsor the site.">chosen to sponsor the site</a> on a monthly basis. I'm using <a href="https://www.digitalocean.com/?refcode=b59c4de92bdc" title="My hosting provider (with a referral code in the link)." rel="nofollow">DigitalOcean</a> to host the site, and if you sign up via that link I get credit towards my hosting.</dd>

  <dt id="contact">How do I get in touch with you?</dt>
  <dd>Send an email to the fourth letter of the English alphabet, followed by the 'at' symbol, care of this domain. You can also ping me <a href="http://twitter.com/usesthis/" title="The Uses This Twitter account.">on Twitter</a>.</dd>
</dl>

<h4 id="thanks">Thank you!</h4>
<p>These generous people sponsor the site <a href="https://www.patreon.com/waferbaby" title="My Patreon account.">via Patreon</a> - how awesome are they? <strong>So</strong> awesome.</p>
<ul id="patrons">
  <li><a href="https://therealadam.com/" title="Visit this link from Adam.">Adam Keys</a></li>
  <li><a href="https://aliou.me/" title="Visit this link from Aliou.">Aliou Diallo</a></li>
  <li><a href="https://etches.ink/" title="Visit this link from Amanda.">Amanda Etches</a></li>
  <li><a href="http://www.science.smith.edu/~amcnamara/" title="Visit this link from Amelia.">Amelia McNamara</a></li>
  <li><a href="https://waxy.org/" title="Visit this link from Andy.">Andy Baio</a></li>
  <li><a href="http://thatsaspicymeatball.com/" title="Visit this link from Bertrand.">Bertrand Fan</a></li>
  <li><a href="http://www.welense.com/" title="Visit this link from Bill.">Bill Welense</a></li>
  <li><a href="https://medium.com/@buster" title="Visit this link from Buster.">Buster Benson</a></li>
  <li><a href="https://matall.in" title="Visit this link from Carlos.">Carlos Matallín</a></li>
  <li>Chris Berry</li>
  <li><a href="https://chrisshort.net/" title="Visit this link from Chris.">Chris Short</a></li>
  <li>Chris Williams</li>
  <li><a href="http://www.msynet.com/" title="Visit this link from D.">D. Massey</a></li>
  <li><a href="https://reactiveventur.es/" title="Visit this link from Denis.">Denis Kabistan</a></li>
  <li><a href="https://lostfocus.de/" title="Visit this link from Dominik.">Dominik Schwind</a></li>
  <li><a href="https://www.drewgates.com/" title="Visit this link from Drew.">Drew Gates</a></li>
  <li><a href="https://twitter.com/milsyobtaf" title="Visit this link from Dustin.">Dustin Younse</a></li>
  <li><a href="http://standardpixel.com/" title="Visit this link from Eric.">Eric Gelinas</a></li>
  <li><a href="https://guardsmen.org/donate-now/" title="Visit this link from Eric.">Eric Willis</a></li>
  <li><a href="http://floodpull.com/" title="Visit this link from Floodpull.">Floodpull</a></li>
  <li><a href="https://gameperiod.com/" title="Visit this link from Game Period.">Game Period</a></li>
  <li><a href="https://www.gamecupid.com/" title="Visit this link from GameCupid.">GameCupid</a></li>
  <li><a href="http://gameslikefinder.com/" title="Visit this link from Games Finder.">Games Finder</a></li>
  <li><a href="https://gareth.codes/" title="Visit this link from Gareth.">Gareth</a></li>
  <li><a href="http://hc5duke.com/" title="Visit this link from Hwan-Joon.">Hwan-Joon Choi</a></li>
  <li><a href="https://ideamensch.com/" title="Visit this link from IdeaMensch.">IdeaMensch</a></li>
  <li><a href="http://everycopy.com/" title="Visit this link from James.">James Goode</a></li>
  <li><a href="https://twitter.com/kartar/" title="Visit this link from James.">James Turnbull</a></li>
  <li><a href="http://www.changingdiets.org/" title="Visit this link from Jane.">Jane Daly</a></li>
  <li><a href="https://www.voucherslug.co.uk/" title="Visit this link from Jared.">Jared Sloane</a></li>
  <li><a href="http://www.craftbyzen.com/" title="Visit this link from Jeremy.">Jeremy Wong</a></li>
  <li><a href="http://scumbly.com/" title="Visit this link from Jesse.">Jesse Holden</a></li>
  <li><a href="https://doubleyouraudience.com/" title="Visit this link from Kai.">Kai Davis</a></li>
  <li><a href="https://medium.com/@lauraglu/155-ways-you-can-help-alleviate-poverty-in-the-bay-area-cf0e838c4abd#.ub5itbyjd" title="Visit this link from Laura.">Laura Gluhanich</a></li>
  <li><a href="http://www.lawrenceleach.com/" title="Visit this link from Lawrence.">Lawrence Leach</a></li>
  <li><a href="http://morestarch.com/" title="Visit this link from Luis.">Luis Sosa</a></li>
  <li><a href="https://mat.tl/" title="Visit this link from Matt.">Matt Lee</a></li>
  <li><a href="https://matt.pictures" title="Visit this link from Matt.">Matt Mills</a></li>
  <li><a href="https://natwelch.com" title="Visit this link from Nat.">Nat Welch</a></li>
  <li><a href="http://pablosproject.com/" title="Visit this link from Paolo.">Paolo Tagliani</a></li>
  <li><a href="https://extrafuture.com/" title="Visit this link from Phil.">Phil Nelson</a></li>
  <li><a href="https://richard.petersenhall.com/" title="Visit this link from Richard.">Richard Petersen-Hall</a></li>
  <li><a href="http://rn.nu/" title="Visit this link from Robbie.">Robbie Narang</a></li>
  <li><a href="https://begbie.com/" title="Visit this link from Rod.">Rod Begbie</a></li>
  <li><a href="https://twitter.com/rynbtmn" title="Visit this link from Ryan.">Ryan Bateman</a></li>
  <li><a href="http://4dgem.com/" title="Visit this link from Stephen.">Stephen Swift</a></li>
  <li><a href="http://www.stevekinney.net/" title="Visit this link from Steve.">Steve Kinney</a></li>
  <li><a href="http://wssw.co/" title="Visit this link from William.">William S. Goi</a></li>
</ul>
