---
layout: default
title: About
---

<h2>About</h2>
<p>Uses This asks a random selection of people all about the tools and techniques they're using to get things done.</p>

<h3 id="faq">FAQ</h3>
<dl>
  <dt id="schedule">When are new interviews posted?</dt>
  <dd>Usually once every two weeks, ideally on a Tuesday or Thursday <a href="http://www.timeanddate.com/worldclock/australia/melbourne" title="The current time in Melbourne.">Melbourne time</a>. This used to be twice a week like clockwork until, y'know, all the things.</dd>

  <dt id="suggestion">Can I suggest someone to interview?</dt>
  <dd>I would love that! <a href="#contact" title="How to get in touch.">Send me the details</a>.</dd>

  <dt id="myself">Can I suggest myself for an interview?</dt>
  <dd>I appreciate the offer, but I always have a very, very (very) long and specific queue. Have you considered added a <code>/uses/</code> page to your own site, answering the same questions?</dd>

  <dt id="myself-again">Right, cool, but can I suggest myself for an interview?</dt>
  <dd>No.</dd>

  <dt id="apple">Is this some sort of Apple fan site?</dt>
  <dd>Nope! Folks just like using their stuff.

  <dt id="clone">Can I make my own version of the site?</dt>
  <dd>Absolutely - everything on the site is available <a href="http://github.com/waferbaby/usesthis/" title="All of the source code for usesthis.com.">on GitHub</a>! And if you do end up making your own, I'd love to see it.</dd>

  <dt id="who">Who runs the site?</dt>
  <dd>I'm <a href="https://wafer.baby/@d" title="Daniel's Mastodon account.">Daniel</a>, an ancient web nerd.</dd>

  <dt id="contact">How can I get in touch?</dt>
  <dd>Send an email to the fourth letter of the English alphabet, followed by the 'at' symbol, care of this domain.</dd>

  <dt id="longest">What's the longest it's taken someone to send you their answers?</dt>
  <dd>That would be <a href="https://waxy.org/2019/12/the-tools-i-use-my-setup-11-years-later/" "Andy's post about his interview.">11 years</a> (love you, Andy).</dd>
</dl>
