---
layout: default
title: About
---

<h3>What's all this?</h3>
<p>The Setup is a collection of nerdy interviews asking people from all walks of life what they use to get the job done.</p>

<h4>Questions</h4>
<dl>
  <dt>When are new interviews posted?</dt>
  <dd>Every <strong>Tuesday</strong> and <strong>Thursday</strong>.</dd>
  
  <dt>Can I suggest someone to interview?</dt>
  <dd>Yes please! Either via email or Twitter (see below).</d>

  <dt>Can I suggest myself?</dt>
  <dd>I'd love it if you'd write up an interview with yourself, post it online somewhere and send me the link! I'll add it to the <a href="/community/" title="The community page.">Community</a> page.</dd>

  <dt>Isn't this some sort of Apple fan site?</dt>
  <dd>Surprisingly not! People just like using their stuff. A lot.</dd>

  <dt>Can I make my own version of The Setup?</dt>
  <dd><strong>Hell yeah!</strong> Everything is freely available <a href="http://github.com/waferbaby/usesthis/" title="The source code for the site.">on Github</a> - go nuts! And let me know if you do, so I can link to it.</dd>

  <dt>Who runs The Setup?</dt>
  <dd>Daniel. I'm just some guy.</dd>

  <dt>How do I get in touch with Daniel?</dt>
  <dd>Send an email to the fourth letter of the English alphabet, followed by the 'at' symbol, care of this domain. Or, you can ping me <a href="http://twitter.com/usesthis/" title="The usesthis Twiter account.">on Twitter</a>.</dd>
</dl>