---
layout: default
title: Four O'Four
---

<article class="interview">
  <figure>
    <img src="/images/portraits/404.jpg" width="500" height="335" class="portrait" alt="404">
  </figure>
  <header>
    <h3>Four O'Four</h3>
    <p class="summary">Web server error</p>
    <p class="details">Posted <time datetime="1991-08-06">August 6, 1991.</time></p>
    <ul class="categories">
    <li><a href="/interviews/web/" title="View all the Web interviews.">web</a></li>
    </ul>
  </header>

  <h4>Who are you, and what do you do?</h4>

  <p>Hi! I'm a web server error code. I tend to show up when people make a request for something that doesn't exist, or used to exist.</p>

  <h4>What hardware do you use?</h4>

  <p>I'm really, <em>really</em> into servers - it's what I grew up with, and it's all I know. Oh, and I have a MacBook Pro at home. Of course I do.</p>

  <h4>And what software?</h4>

  <p>I pretty much just stick to web server server (I'm easy, I'll work with any of 'em - no favourites). Keep it simple, right?</p>

  <h4>What would be your dream setup?</h4>

  <p>This is pretty much it. Although I'd love it if people would take more care of their pages on the web - it would make my life <em>so</em> much easier, y'know?</p>

</article>