<?xml version="1.0" encoding='utf-8'?>
<service xmlns="http://www.w3.org/2007/app" xmlns:atom="http://www.w3.org/2005/Atom">
	<workspace>
		<title>The Setup</title>
		<collection href="/interviews/">
			<title>Interviews</title>
		</collection>
		<collection href="/links/">
			<title>Links</title>
		</collection>
		<collection href="/wares/">
			<title>Wares</title>
		</collection>
	</workspace>
</service>