---
layout: default
---

<article class="interview">
  <header>
    <%= @site.render('interviewee', {interview: @this, selected: true}) %>
  </header>

  <%= @this.markdown %>

  <% if @this.license %>
  <p class="license">This interview is available under the <a href="http://creativecommons.org/licenses/<%= @this.license %>/3.0/" title="View details of the license."><%= @this.license.upcase %> Creative Commons license</a>.</p>
  <% end %>
</article>