<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{page.title}}</title>
		<link href="{% if page.person %}http://usesthis.com{% endif %}/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
		<link href="{% if page.person %}http://usesthis.com{% endif %}/feed/" rel="alternate" title="Atom feed" type="application/atom+xml">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=0.6, maximum-scale=1.0" />
	</head>
	<body>
		<header>
			<h1><a href="{% if page.person %}http://usesthis.com{% endif %}/" title="The most recent interviews.">The Setup</a></h1>
			<p id="tagline">What do people use to get stuff done?</p>
		</header>
		<nav>
			<ul>
				<li><a href="{% if page.person %}http://usesthis.com{% endif %}/interviews/" title="All the other interviews.">Interviews</a></li>
				<li><a href="{% if page.person %}http://usesthis.com{% endif %}/about/" title="A little more info about the site.">About</a></li>
				<li><a href="{% if page.person %}http://usesthis.com{% endif %}/community/" title="Other interviews by people like you.">Community</a></li>
				<li><a href="{% if page.person %}http://usesthis.com{% endif %}/feed/" title="The site's Atom feed.">Feed</a></li>
				<li><a href="http://twitter.com/usesthis/" title="The site's Twitter account.">Twitter</a></li>
			</ul>
		</nav>
		<aside id="sidebar">
			<p>
			  <!--[if IE]>
			  <script type="text/javascript">
			  document.write(unescape('%3Cscr' + 'ipt src="http://adn.fusionads.net/www/pull/get.php?zoneid=100&charset=UTF-8&withtext=1&cb=' + Math.floor(Math.random() * 99999999999) + '"%3E%3C/script%3E'));
			  </script>
			  <![endif]-->
			  <!--[if !IE]><!-->
			  <script defer="defer" type="text/javascript">
			  document.write(unescape('%3Cscr' + 'ipt src="http://adn.fusionads.net/www/pull/get.php?zoneid=100&charset=UTF-8&withtext=1&cb=' + Math.floor(Math.random() * 99999999999) + '"%3E%3C/script%3E'));
			  </script>
			  <!--<![endif]-->
			</p>
			<p><a href='http://fusionads.net' title='Powered by Fusion Ads'>POWERED by FUSION</a></p>
		</aside>
		<section id="contents">
		{{content}}
		</section>
		<footer>
			<p>This is a <a href="http://waferbaby.com/" title="Some website.">waferbaby</a> snafu. Unless otherwise noted, everything is available via the <a href="http://creativecommons.org/licenses/by-sa/2.5/au/" title="A Creative Commons license.">Attribution-Share Alike</a> license.</p>
	  	</footer>
	</body>
</html>