<!DOCTYPE html>
<html lang='en-US' xml:lang='en-US' xmlns='http://www.w3.org/1999/xhtml'></html>
<head>
	<title>The Setup</title>
	<link href='/stylesheets/screen.css' media='screen' rel='stylesheet' type='text/css'>
	<link href='/feed/' rel='alternate' title='Atom feed' type='application/atom+xml'>
	<meta charset='utf-8'>
</head>
<body>
	<header>
		<h1><a href='/' title='The most recent interviews.'>The Setup</a></h1>
		<p id='tagline'>A bunch of nerdy interviews. What do people use to get stuff done?</p>
	</header>
	<nav>
		<ul>
			<li><a href='/archives/' title='All the other interviews.'>Archives</a></li>
			<li><a href='/about/' title='A little more info about the site.'>About</a></li>
			<li><a href='/community/' title='Other interviews by people like you.'>Community</a></li>
		</ul>
	</nav>
	<aside id='sidebar'>
		<p>
		  <!--[if IE]>
		  <script type="text/javascript">
		  document.write(unescape('%3Cscr' + 'ipt src="http://adn.fusionads.net/www/pull/get.php?zoneid=100&charset=UTF-8&withtext=1&cb=' + Math.floor(Math.random() * 99999999999) + '"%3E%3C/script%3E'));
		  </script>
		  <![endif]-->
		  <!--[if !IE]><!-->
		  <script defer="defer" type="text/javascript">
		  document.write(unescape('%3Cscr' + 'ipt src="http://adn.fusionads.net/www/pull/get.php?zoneid=100&charset=UTF-8&withtext=1&cb=' + Math.floor(Math.random() * 99999999999) + '"%3E%3C/script%3E'));
		  </script>
		  <!--<![endif]-->
		  <a href='http://fusionads.net' title='Powered by Fusion Ads'>POWERED by FUSION</a>
		</p>
	</aside>
	<section id='contents'>
	{{content}}
	</section>
	<footer>
		<p>This is a <a href="http://waferbaby.com/" title="Some website.">waferbaby</a> snafu. Follow us <a href="http://twitter.com/usesthis/" title="Our Twitter account.">on Twitter</a>, subscribe to <a href="http://usesthis.com/feed/" title="The Atom feed for the site.">the feed</a>, or grab <a href="http://github.com/waferbaby/usesthis/" title="The source code for this site.">the Ruby source code</a> (if you're into that sort of thing). Unless otherwise noted, everything is available via the <a href="http://creativecommons.org/licenses/by-sa/2.5/au/" title="A Creative Commons license.">Attribution-Share Alike</a> license.</p>
  	</footer>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-18499179-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>