---
layout: default
title: Interviews
---

<h2>Interviews</h2>
<p>There are currently {{site.posts | size}} interviews on the site.</p>

<h3>By date</h3>
<ul class="years">
{% for year in page.archives %}
	<li>
		<a href="/interviews/{{year[0]}}/" title="View all interviews from {{year[0]}}."><strong>{{year[0]}}</strong></a>
		<ul class="months">
		{% for month in year[1] reversed %}
			{% capture month_name %}{{month[1][0].date | date: '%B'}}{% endcapture %}
			<li><a href="/interviews/{{year[0]}}/{{month[0]}}/" title="View all interviews from {{month_name}}, {{year[0]}}.">{{month_name}}</a></li>
		{% endfor %}
		</ul>
	</li>
{% endfor %}
</ul>

<h3>By category</h3>
<ul class="categories">
{% for category in site.categories %}<li><a href="/interviews/{{category[0]}}" rel="category" title="View all '{{category[0]}}' interviews.">{{category[0]}}</a></li>{% endfor %}
</ul>