---
layout: default
---
<article class="interview">
	<img src="/images/portraits/{{page.slug}}.jpg" width="500" height="335" class="portrait" alt="{{page.title}}">

	<h2 class="person">{{page.title}}</h2>
	<p class="summary">{{page.summary}}</p>
	<p class="date">Posted <time datetime="{{page.date || date: "%Y-%m-%d"}}">{{page.date || date_to_long_string}}</time>.</p>
	{% if page.credits %}<p class="credits">Photo by {% if page.credits.url %}<a href="{{page.credits.url}}" title="View more about {{page.credits.name}}.">{{page.credits.name}}</a>{% else %}{{page.credits.name}}{% endif %}.</p>{% endif %}
	<ul class="categories">
	{% for category in page.categories %}<li><a href="/interviews/{{category}}" title="View all the '{{category}}' interviews.">{{category}}</a></li>{% endfor %}
	</ul>

	<div id="answers">
	{{content}}
	</div>
</article>