---
layout: default
---
<article class="overview">
	<figure>
		<img src="/images/portraits/{{page.slug}}.jpg" alt="{{page.person}}" width="500" height="335" class="portrait">
		{% if page.credits %}<figcaption>Photo by {% if page.credits.url %}<a href="{{page.credits.url}}" title="{{page.person}} by {{page.credits.name}}.">{{page.credits.name}}</a>{% else %}{{page.credits.name}}{% endif %}</figcaption>{% endif %}
	</figure>
	
	<h2 class="person">{{page.person}}</h2> 
	<p class="summary">{{page.summary}}</p>
	<p class='details'>
		Posted <time datetime='{{page.date | date: "%Y-%m-%d"}}'>{{page.date | date: "%b %d, %Y"}}</time> in 
		{% assign categories=page.categories %}
		{% include categories.html %}
	</p>
</article> 
<article class="contents">
	{{content}}
</article>