name: Publish usesthis.com

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Build and deploy usesthis.com
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.0
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          bundler-cache: true
      - name: Prepare SSH access
        run: |
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          echo "usesthis.com" >> ~/.ssh/known_hosts
          chmod 600 ~/.ssh/known_hosts
      - name: Build site
        run: bundle exec dimples
      - name: Sync to production
        run: rsync -avzr --delete --links ./site/ deployer@usesthis.com:/usr/local/share/www/usesthis.com/
