---
layout: default
title: Community
---

<h3>Friends of The Setup</h3>
<p>Some awesome people have taken the time to make localised Setup-style sites, picking the brains of the people around them, or those within a particular field of interest. Others have written up personal interviews with themselves. All are awesome.</p>

<h4>Localised or inspired by</h4>
<ul class="links inspired">
  <li>
    <a href="http://bookflocks.com/" title="View BookFlocks.">BookFlocks</a><br>
    <span class="summary">Books</span>
  </li>
  <li>
    <a href="http://dassetup.de/" title="View Das Setup.">Das Setup</a><br>
    <span class="summary">German</span>
  </li>
  <li>
    <a href="http://digerati.ro/" title="View Digerati.">Digerati</a><br>
    <span class="summary">Romanian</span>
  </li>
  <li>
    <a href="http://drawmearobot.tumblr.com" title="View Draw Me A Robot.">Draw Me A Robot</a><br>
    <span class="summary">Cartoonists</span>
  </li>
  <li>
    <a href="http://eebtools.org/" title="View EEB Tools.">EEB Tools</a><br>
    <span class="summary">Ecologists</span>
  </li>
  <li>
    <a href="http://hackingtheuniversity.net/" title="View Hacking the University.">Hacking the University</a><br>
    <span class="summary">University Developers</span>
  </li>
  <li>
    <a href="http://kitandride.com/" title="View Kit &amp; Ride.">Kit &amp; Ride</a><br>
    <span class="summary">Bike gear</span>
  </li>
  <li>
    <a href="http://www.macetlinux.com/" title="View Mac &amp; Linux.">Mac &amp; Linux</a><br>
    <span class="summary">French</span>
  </li>
  <li>
    <a href="http://mineverktoy.com/" title="View Mine verktøy.">Mine verktøy</a><br>
    <span class="summary">Norwegian</span>
  </li>
  <li>
    <a href="http://mtusesthis.com/" title="View Montana Uses This.">Montana Uses This</a><br>
    <span class="summary">Montana</span>
  </li>
  <li>
    <a href="http://mysetup.tumblr.com/" title="View My Setup.">My Setup</a><br>
    <span class="summary">Vietnamese</span>
  </li>
  <li>
    <a href="http://myworkset.ru/" title="View My Workset.">My Workset</a><br>
    <span class="summary">Russian</span>
  </li>
  <li>
    <a href="http://mykit.tumblr.com/" title="View MyKit.">MyKit</a><br>
    <span class="summary">South Africans</span>
  </li>
  <li>
    <a href="http://nosotrosusamos.com/" title="View Nosotros Usamos.">Nosotros Usamos</a><br>
    <span class="summary">Spanish</span>
  </li>
  <li>
    <a href="http://queusa.tumblr.com/" title="View Queusa.">Queusa</a><br>
    <span class="summary">Spanish</span>
  </li>
  <li>
    <a href="http://teacherusesthis.wordpress.com/" title="View Teacher Uses This.">Teacher Uses This</a><br>
    <span class="summary">Teachers</span>
  </li>
  <li>
    <a href="http://teknodonanim.org/" title="View TeknoDonanım.">TeknoDonanım</a><br>
    <span class="summary">Turkish</span>
  </li>
  <li>
    <a href="http://www.theaccessiblesetup.com/" title="View The Accessible Setup.">The Accessible Setup</a><br>
    <span class="summary">People with disabilities</span>
  </li>
  <li>
    <a href="http://emilymayhem.blogspot.com/search/label/the%20creative%20setup" title="View The Creative Setup.">The Creative Setup</a><br>
    <span class="summary">Creatives</span>
  </li>
  <li>
    <a href="http://www.inthelibrarywiththeleadpipe.org/2010/the-desk-setup/" title="View The Desk Setup.">The Desk Setup</a><br>
    <span class="summary">Library staff</span>
  </li>
  <li>
    <a href="http://thedevelopment.co/" title="View The Development.">The Development</a><br>
    <span class="summary">Websites</span>
  </li>
  <li>
    <a href="http://www.mylinuxrig.com/tagged/the_linux_setup" title="View The Linux Setup.">The Linux Setup</a><br>
    <span class="summary">People using Linux</span>
  </li>
  <li>
    <a href="http://setup.loopinfinito.com.br/" title="View The Setup Brasil (2).">The Setup Brasil (2)</a><br>
    <span class="summary">Portuguese</span>
  </li>
  <li>
    <a href="http://usaisso.com/" title="View The Setup Brasil.">The Setup Brasil</a><br>
    <span class="summary">Portuguese</span>
  </li>
  <li>
    <a href="http://setup.xiuxiu.de/" title="View The Setup.">The Setup</a><br>
    <span class="summary">Chinese</span>
  </li>
  <li>
    <a href="http://thesetup.cz/" title="View The Setup.">The Setup</a><br>
    <span class="summary">Czech/Slovakian</span>
  </li>
  <li>
    <a href="http://mandroid.hu/" title="View The Setup.">The Setup</a><br>
    <span class="summary">Hungarian</span>
  </li>
  <li>
    <a href="http://www.thesetup.it/" title="View The Setup.">The Setup</a><br>
    <span class="summary">Italian</span>
  </li>
  <li>
    <a href="http://thesetup.pl/" title="View The Setup.">The Setup</a><br>
    <span class="summary">Polish</span>
  </li>
  <li>
    <a href="http://usesthis-sp.com/" title="View The Setup.">The Setup</a><br>
    <span class="summary">Silicon Prairie</span>
  </li>
  <li>
    <a href="http://usesthis.ir/" title="View Uses This.">Uses This</a><br>
    <span class="summary">Persian</span>
  </li>
  <li>
    <a href="http://usesthis.pl/" title="View Uses This.">Uses This</a><br>
    <span class="summary">Polish</span>
  </li>
  <li>
    <a href="http://wayswework.io/" title="View Ways We Work.">Ways We Work</a><br>
    <span class="summary">Tips and tricks</span>
  </li>
  <li>
    <a href="http://workspiration.org/" title="View Workspiration.">Workspiration</a><br>
    <span class="summary">English/Russian</span>
  </li>
  <li>
    <a href="http://xingongju.com/" title="View Xingongju.">Xingongju</a><br>
    <span class="summary">Chinese</span>
  </li>
</ul>

<h4>Personal</h4>
<ul class="links personal">
  <li><a href="http://aaronbaggett.com/notes/2014/03/02/my-setup/" title="View Aaron Baggett.">Aaron Baggett</a></li>
  <li><a href="http://serialscifi.com/aaron-pressman2.html" title="View Aaron Pressman.">Aaron Pressman</a></li>
  <li><a href="http://abhishekdas.com/posts/the-setup/" title="View Abhishek das.">Abhishek das</a></li>
  <li><a href="http://about.aclark.net/usesthis/" title="View Alex Clark.">Alex Clark</a></li>
  <li><a href="http://sigusr2.net/2012/May/23/the-setup.html" title="View Andrew Gwozdziewycz.">Andrew Gwozdziewycz</a></li>
  <li><a href="http://teknostatik.co.uk/2010/07/18/my-first-stab-at-self-interview/" title="View Andy Ferguson.">Andy Ferguson</a></li>
  <li><a href="http://www.andyjeffries.co.uk/my-setup-ala-usesthis-com/" title="View Andy Jeffries.">Andy Jeffries</a></li>
  <li><a href="http://andy-small.com/what-i-use/" title="View Andy Small.">Andy Small</a></li>
  <li><a href="http://blog.angelceballos.com/post/60819123058/the-workstation-of-a-designer" title="View Angel Ceballos.">Angel Ceballos</a></li>
  <li><a href="http://anthonymclean.co.uk/usesthis" title="View Anthony McLean.">Anthony McLean</a></li>
  <li><a href="http://arthursimiyu.com/blog/setup-post.html" title="View Arthur Simiyu.">Arthur Simiyu</a></li>
  <li><a href="http://www.bethanylang.com/the-setup/" title="View Bethany Lang.">Bethany Lang</a></li>
  <li><a href="http://emphaticsolutions.com/2012/03/13/my-setup.html" title="View Brian Doll.">Brian Doll</a></li>
  <li><a href="http://brian.rainey.us/2014/08/12/setup/" title="View Brian Rainey.">Brian Rainey</a></li>
  <li><a href="http://www.realchaseadams.com/2014/01/27/the-setup-my-hardware-software-for-work-play/" title="View Chase Adams.">Chase Adams</a></li>
  <li><a href="http://chris.eidhof.nl/post/17548659663/i-use-this" title="View Chris Eidhof.">Chris Eidhof</a></li>
  <li><a href="http://www.blackmarks.net/2012/12/07/the-stuff-i-use/" title="View Cory Vilhauer.">Cory Vilhauer</a></li>
  <li><a href="http://dougbelshaw.com/blog/2011/07/26/the-setup/" title="View Doug Belshaw.">Doug Belshaw</a></li>
  <li><a href="http://blog.asmallorange.com/2011/09/the-setup-douglas-hanna/" title="View Douglas Hanna.">Douglas Hanna</a></li>
  <li><a href="http://swathe.info/aboutme/" title="View Dylan Thiedeke.">Dylan Thiedeke</a></li>
  <li><a href="http://dylanv.org/2011/07/13/my-setup/" title="View Dylan Vassallo.">Dylan Vassallo</a></li>
  <li><a href="http://www.edwinarceo.com/what-i-use-to-get-stuff-done/" title="View Edwin Arceo.">Edwin Arceo</a></li>
  <li><a href="http://imlefthanded.com/the-setup-of-2013/" title="View Elliot Clowes.">Elliot Clowes</a></li>
  <li><a href="http://erbosoft.com/blog/erbo/entry/the_erbonomically_correct_setup" title="View Eric J. Bowersox.">Eric J. Bowersox</a></li>
  <li><a href="http://schwarztech.net/articles/my-2012-setup" title="View Eric Schwarz.">Eric Schwarz</a></li>
  <li><a href="http://erickmendonca.github.io/" title="View Erick Mendonça.">Erick Mendonça</a></li>
  <li><a href="http://on.fj.je/setup/" title="View François Joseph.">François Joseph</a></li>
  <li><a href="http://gmankalog.gouthaman.com/post/67254140178" title="View Gouthaman Karunakaran.">Gouthaman Karunakaran</a></li>
  <li><a href="http://www.dailybits.be/item/homeoffice-the-setup/" title="View Herman Maes.">Herman Maes</a></li>
  <li><a href="http://hilaryparker.com/2012/08/16/the-setup-part-1/" title="View Hilary Parker.">Hilary Parker</a></li>
  <li><a href="http://ishtarsetup.pen.io/" title="View Ishtar.">Ishtar</a></li>
  <li><a href="http://onethingwell.org/linux-setup" title="View Jack Mottram.">Jack Mottram</a></li>
  <li><a href="http://piks.nl/wordpress/jan-usesthis-com/" title="View Jan van den Berg.">Jan van den Berg</a></li>
  <li><a href="http://jasonwryan.com/blog/2010/10/04/the-setup/" title="View Jason Ryan.">Jason Ryan</a></li>
  <li><a href="http://6ixpassions.com/post/413664702/my-setup-what-i-use-to-get-the-job-done" title="View Jean-Philippe Cyr.">Jean-Philippe Cyr</a></li>
  <li><a href="http://www.nomadmanager.com/post/24868702073/the-nomad-manager-setup" title="View Jen Horn.">Jen Horn</a></li>
  <li><a href="http://www.jilles.net/perma/2011/07/26/jilles-uses-this/" title="View Jilles Oldenbeuving.">Jilles Oldenbeuving</a></li>
  <li><a href="http://johnaugust.com/2011/my-daily-writing-routine" title="View John August.">John August</a></li>
  <li><a href="http://www.jonathanbourke.com/blog/2011/03/02/back-to-the-mac/" title="View Jonathan Bourke.">Jonathan Bourke</a></li>
  <li><a href="http://jonathanfrei.com/post/20219374964/the-setup-jonathan-frei" title="View Jonathan Frei.">Jonathan Frei</a></li>
  <li><a href="http://joshldavis.com/2014/05/15/uses-this/" title="View Josh Davis.">Josh Davis</a></li>
  <li><a href="http://joshmontague.com/posts/2014/the-setup/" title="View Josh Montague.">Josh Montague</a></li>
  <li><a href="http://joshuanguyen.com/post/556716677/i-use-this" title="View Josh Nguyen.">Josh Nguyen</a></li>
  <li><a href="http://jpdelatorre.com/post/the-setup-tools-i-use-as-a-web-developer/" title="View JP Dela Torre.">JP Dela Torre</a></li>
  <li><a href="http://vectorpoem.com/thesetup/" title="View JP LeBreton.">JP LeBreton</a></li>
  <li><a href="http://keithtaylorphoto.com/website/the-setup/" title="View Keith Taylor.">Keith Taylor</a></li>
  <li><a href="http://concurrently-chaotic.blogspot.com/2013/05/the-setup.html" title="View Kenji Rikitake.">Kenji Rikitake</a></li>
  <li><a href="http://kylebabson.com/usesthis" title="View Kyle Babson.">Kyle Babson</a></li>
  <li><a href="http://www.quantumforest.com/2012/04/my-setup/" title="View Luis Apiolaza.">Luis Apiolaza</a></li>
  <li><a href="http://mabelamber.wordpress.com/who-are-you-and-what-do-you-do/" title="View Mabel Amber.">Mabel Amber</a></li>
  <li><a href="http://martinruiz.com/the-setup" title="View Martin Ruiz.">Martin Ruiz</a></li>
  <li><a href="http://zeroelink.me/mysetup" title="View Martin Santiago.">Martin Santiago</a></li>
  <li><a href="http://www.blog.martyrogers.co.uk/2014/04/setup/" title="View Marty Rogers.">Marty Rogers</a></li>
  <li><a href="http://blog.omgmog.net/post/max-glenister-uses-this/" title="View Max Glenister.">Max Glenister</a></li>
  <li><a href="http://www.mollykgibson.com/#!/setup" title="View Molly K. Gibson.">Molly K. Gibson</a></li>
  <li><a href="http://pablocantero.com/blog/2013/04/16/my-setup/" title="View Pablo Cantero.">Pablo Cantero</a></li>
  <li><a href="http://paulstamatiou.com/my-setup/" title="View Paul Stamatiou.">Paul Stamatiou</a></li>
  <li><a href="http://log.majouji.me/post/37056775633" title="View Ramy Majouji.">Ramy Majouji</a></li>
  <li><a href="http://pastie.org/private/dubwni42cvosxdyynsoxuq" title="View Robin Parker.">Robin Parker</a></li>
  <li><a href="http://rodger.com.br/blog/my-setup/" title="View Rodger.">Rodger</a></li>
  <li><a href="http://ryancash.net/tools" title="View Ryan Cash.">Ryan Cash</a></li>
  <li><a href="http://sfericalcube.blogspot.com/2011/11/sagarkamatusesthis.html" title="View Sagar Kamat.">Sagar Kamat</a></li>
  <li><a href="http://shashankmehta.in/archive/2013/the-setup.html" title="View Shashank Mehta.">Shashank Mehta</a></li>
  <li><a href="http://shamiller.net/usesthis.html" title="View Shawn A. Miller.">Shawn A. Miller</a></li>
  <li><a href="http://stephenou.com/blog/my-setup" title="View Stephen Ou.">Stephen Ou</a></li>
  <li><a href="http://man.cat-v.org/unix_8th/1/rm" title="View Steve Losh.">Steve Losh</a></li>
  <li><a href="http://tatey.com/2011/04/16/the-setup/" title="View Tate Johnson.">Tate Johnson</a></li>
  <li><a href="http://blog.lelevier.com/blog/2013/06/06/the-setup/" title="View Thibaut Le Levier.">Thibaut Le Levier</a></li>
  <li><a href="http://eggfreckles.com/notes/my-setup-2012/" title="View Thomas Brand.">Thomas Brand</a></li>
  <li><a href="http://notstatschat.tumblr.com/post/52445567432/my-setup" title="View Thomas Lumley.">Thomas Lumley</a></li>
  <li><a href="http://orthojump.com/bio/the-setup/" title="View Tiger Buford.">Tiger Buford</a></li>
  <li><a href="http://sn0v.wordpress.com/2012/09/20/the-setup/" title="View Utkarsh Jaiswal.">Utkarsh Jaiswal</a></li>
  <li><a href="http://blog.vivekhaldar.com/post/23021969189/my-setup" title="View Vivek Haldar.">Vivek Haldar</a></li>
  <li><a href="http://wojciechniemczyk.tumblr.com/" title="View Wojciech Niemczyk.">Wojciech Niemczyk</a></li>
</ul>
